@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

:root {
    --imgWidth: 122px;
    --blue: #1a73e8;
    background-color: white;
    font-family: "Roboto", sans-serif;
}

main {
    position: relative;
    background-color: black;
    width: 400px;
    height: 582px;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); /*x, y, blur, colour*/
    /*box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);*/
}

header {
    position: relative;
    background-color: #1a73e8;
    color: white;
    font-size: 16px;
    margin: 8px;
    padding-top: 25px;
    padding-bottom: 40px;
    padding-left: 20px;
}

#toFind {
    font-weight: 900;
    font-size: 28px;
}

table {
    margin: auto;
}

td {
    position: relative;
    width: var(--imgWidth);
    height: var(--imgWidth);
    text-align: center;
}

.captchaImage {
    width: 100%;
    height: 100%;
    transition: 150ms;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.checkbox {
    --checkboxSize: 25px;
    text-align: center;
    position: absolute;
    border-radius: calc(var(--checkboxSize) / 2);
    top: 0;
    left: 0;
    width: var(--checkboxSize);
    height: var(--checkboxSize);
    background-color: var(--blue);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.checkmark {
    margin: auto;
}

hr {
    margin: 0px;
    border-color: white;
}

#incorrectMessage {
    display: none;
    width: 75%;
    margin-top: 8px;
    text-align: center;
    color: red;
}

#successfulDiv {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border: 15px solid green;
    margin: auto;
    position: absolute;
    margin: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#successfulCheckmark {
    position: relative;
    width: 150px;
    height: 150px;
    margin: auto;
    filter: brightness(0) invert(30%) sepia(77%) saturate(6666%) hue-rotate(108deg) brightness(94%) contrast(103%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#verify {
    position: absolute;
    background-color: var(--blue);
    border: none;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    border-radius: 3px;
    margin: 8px;
    right: 0px;
    bottom: 0px;
}

#verify:hover {
    cursor: pointer;
}
